asgiref==3.9.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16

channels==4.3.2
channels_redis==4.3.0

cloudinary==1.45.0
django-cloudinary-storage==0.3.0

Django==5.2.4
django-ckeditor==6.7.3
django-js-asset==3.1.2

dj-database-url==3.1.2
django-redis==6.0.0

daphne==4.2.1
gunicorn==23.0.0

Pillow==11.3.0

psycopg2-binary==2.9.12

python-dotenv==1.2.2

redis==6.4.0

requests==2.32.5

service-identity==24.2.0
sqlparse==0.5.3

Twisted==25.5.0
txaio==25.12.2

typing_extensions==4.15.0

tzdata==2025.2

whitenoise==6.11.0